<!doctype html>
<html lang="ja">

<head>
    <title>Bike Hub</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</head>

<body>
    {% block content %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Bike Hub</a>
    </nav>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-7">
                <div class="welcome-content">
                    <h2><span>SELENE</span> THE APP</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac nibh sed mi ullamcorper rhoncus.
                        Curabitur pulvinar vel augue sit amet vestibulum. Proin tempus lacus porta.</h4>
                </div>
                <div class="app-download-area">
                    <div class="app-download-btn active">

                        <a href="#"><i class="fa fa-android"></i>
                            <p class="mb-0"><span>available on</span> Google Store</p>
                        </a>
                    </div>
                    <div class="app-download-btn">

                        <a href="#"><i class="fa fa-apple"></i>
                            <p class="mb-0"><span>available on</span> Apple Store</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </blockquote>
    <footer class="text-center">© bike Hub -2020</footer>
    {% endblock %}
</body>

<script>
    $('input').addClass('form-control')
    $('li').addClass('small')
    $('label').addClass('small')
</script>

</html>