<!doctype html>
<html lang="ja">

<head>
    <title>Bike Hub</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</head>

<body>
    {% block content %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Bike Hub</a>
    </nav>
    <div class="container mt-5">
        <blockquote>
            <header class="article-header">
                <h1>【BikeHub】プライバシーポリシー</h1>
            </header>
            <div class="article-body">
                <p>当サービスであるBikeHub(以下、当サービスと記述します。)では、ご利用いただく方の個人情報について、個人情報の保護に関する法律やその他の関係法令を遵守し、以下に定めるプライバシーポリシーに従って適切に取り扱うものといたします。
                </p>
                <p>以下に当サービスのプライバシーポリシーを記載します。</p>
                <p><strong>個人情報の管理</strong></p>
                <ul>
                    <li class="odd">
                        当サービスでは、お客様の個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
                    </li>
                </ul>
                <p><strong>個人情報の利用目的</strong></p>
                <ul>
                    <li class="odd">
                        当サービスでは、燃費の登録、メールでのお問い合わせ、メールマガジンへの登録などの際に、名前（ハンドルネーム）、メールアドレス等の個人情報をご登録いただく場合があります。
                    </li>
                    <li class="even">これらの個人情報は質問に対する回答や情報提供、当サービスのご利用に対してのみ使用するものであり、左記以外では利用いたしません。</li>
                    <li class="odd">燃費登録のためのアカウントはいつでも自由にアプリから解除することができます。</li>
                </ul>
                <p><strong>個人情報の第三者への開示</strong></p>
                <ul>
                    <li class="odd">当サービスでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはいたしません。
                        <ul>
                            <li class="odd">本人のご了解がある場合</li>
                            <li class="even">法令等に基づいた開示要求があった場合</li>
                        </ul>
                    </li>
                </ul>
                <p><strong>個人情報の開示、訂正、追加、削除、利用停止</strong></p>
                <ul>
                    <li class="odd">お客様ご本人からの個人データの開示、訂正、追加、削除、利用停止をご希望の場合には、ご本人であることを確認の上、対応いたします。</li>
                </ul>
                <p><strong>個人情報の安全対策</strong></p>
                <ul>
                    <li class="odd">当サービスは、個人情報の正確性及び安全性確保のために、セキュリティに対して最新かつ万全の対策を講じています。</li>
                </ul>

                <p><strong>アフィリエイトプログラムについて</strong>当サービスでは下記アフィリエイト・広告プログラムに参加しています</p>
                <ul>
                    <li class="even">Admob</li>
                </ul>
                <p><strong>プライバシーポリシーの変更について</strong></p>
                <ul>
                    <li class="odd">当サービスは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直し、修正いたします。</li>
                    <li class="even">修正された最新のプライバシーポリシーは常に本ページにて開示されます。</li>
                    <li class="odd">本ポリシーの内容は，ユーザーに通知することなく，変更することができるものとします。</li>
                </ul>
                <p><strong>免責事項</strong></p>
                <ul>
                    <li class="odd">
                        当サービスのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、運営者の個人的見解も含まれておりますし、情報が古くなっていることもあります。
                    </li>
                    <li class="even">当サービスの御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。</li>
                </ul>
                <p><strong>運営責任者情報</strong>当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
                <p>BikeHub</p>
                <p>開発者:日高悠太</p>
                <p>HP：https://app.bikehub.app/</p>
                <p>メールアドレス：info@bikehub.app</p>
            </div>
        </blockquote>
    </div>
    <footer class="text-center">© bike Hub -2020</footer>
    {% endblock %}
</body>

<script>
    $('input').addClass('form-control')
    $('li').addClass('small')
    $('label').addClass('small')
</script>

</html>